*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

#nav-bar{
    background-color: orange;
    display: inline-flex;
    width: 100%;
    padding: 1%;
}
#nav-bar label{
    font-size: 30px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nav-bar ul{
    position: absolute;
    left: 60%;
    width: 60%;
    padding: 0.5%;
}
#nav-bar li{
    display: inline-flex;
    list-style: none;
    width: 20%;
}
#nav-bar li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
#nav-bar li a:hover{
    color: white;
}


#form-div{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(20px);
    width: 35vw;
    height: 55vh;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 9px 7px 7px black;
}
.form-header{
    font-size: 30px;
    margin-top: 4%;
    font-weight: bold;
    margin-left: 4%;
}
.discription-para{
    margin-left: 4%;
    margin-top: 1%;
    font-size: 14px;
}
.form-items{
    margin-top: 2%;
    margin-left: 4%;
}
.input-area{
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 16px;
    width: 25vw;
    border-radius: 20px;
    padding: 5px;
}
.forget-id-pass{
    margin-left: 4%;
    font-size: 14px;
    text-decoration: none;
}

#login-btn{
    margin-top: 6%;
    position: relative;
    left: 35%;
    color: white;
    border-radius: 15px;
    background-color: blueviolet;
    font-size: 22px;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 6%;
}

#logo{
    width: 250px;
    height: 250px;
    margin: 50px;
}

#login-btn2{
    margin-top: 6%;
    color: aliceblue;
    position: relative;
    left: 35%;
    background-color: blueviolet;
    font-size: 18px;
    border-radius : 18px;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
}