{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
<!--    <link rel="stylesheet" href="../static/css/home.css">-->
    <title>Document</title>
</head>
<body>
    <div style="background: whitesmoke; width: 100vw; height: 100vh;">
        <div id="nav-bar">
            <label>Student Portal</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="StudentForm">Register</a></li>
                <!-- <li><a href="StudentForm">Registration</a></li> -->
            </ul>
        </div>
        <div id="form-div">
            <form method="post" action="getUserLogin">
                 {% csrf_token %}
                <header class="form-header">Login</header>
                <p class="discription-para">Student Login Portal for graphic era university</p>
                <div class="form-items">
                    <input type="text" placeholder="Student Id" name="username" class="input-area" required="true"/>  
                    <br>         
                    <input type="password" placeholder="Password" name="password" class="input-area" required="true"/>
                </div>
                <a class="forget-id-pass" href="#">Forget Id and Password</a>
                <br>
                <input type="submit" id="login-btn" name="Login" value="Login"/>
            </form>
        </div>
    </div>
</body>
</html>