{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Student Registration</title>
</head>
<body>
    <div id="nav-bar">
        <img style="width: 45px; height: 45px; margin-right: 20px; border-radius: 50%;" src="../static/images/geuImage.jpeg" alt="something went wrong"/>
        <label>Student Project Allocation System</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="geu.ac.in">About us</a></li>
                <li><a href="#">Login</a></li>
            </ul>
    </div>
    <div style="margin:50px">
        <form method="post" action="StudentLoginFormSubmit">
            {% csrf_token %}
            <header style="font-size: 30px; font-weight: bold;">Student Login</header>
            {{ form }}
            <input type="submit" style="margin:50px" id="login-btn" name="Login" value="Register"/>
        </form>
    </div>
</body>
</html>